# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Email (SMTP) Configuration
SMTP_EMAIL=your_email@uni.edu.pe
SMTP_PASSWORD=your_app_password_here
CONTACT_RECIPIENT=your_email@uni.edu.pe

# Email Assets & Social Links
EMAIL_HEADER_IMAGE_URL=your_image_url_here
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/company/ieee-cis-uni/
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/ieeecisuni/
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/ieeecisuni
